{% extends "base.html" %}
{% block content %}
<div id='header'>
    <h1> My Instapaper </h1>
</div>
<h1>

<div class='url_block'>
    <p>
        <h2> Requesting url : {{ url }} </h2>
    </p>
{% if form %}
<div id='articles'>
    <p>
        <h3>Articles</h3>
        <form name="articles_form" action="" method="POST">
          {{ form.csrf_token  }}
          {{form.checkboxes}}
          <p>
              <input value="Valider" name='validate' type='submit'/>
          </p>
        </form>
    </p>
</div>
{% else %}
<div class='message'>
    <p>
        Sorry, no new article since last time
    </p>
</div>
{% endif%}
</div>
{% endblock %}
